NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

const firebaseConfig = {
  apiKey: "AIzaSyAzRY-3RpirlepmxaE6vfRmLWidHxLHq34",
  authDomain: "weisenglish-94661.firebaseapp.com",
  projectId: "weisenglish-94661",
  storageBucket: "weisenglish-94661.firebasestorage.app",
  messagingSenderId: "992032660738",
  appId: "1:992032660738:web:e3da88760e26307b25b61b",
  measurementId: "G-F6XX2FZQ59"
};
