.shell {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100%;
}

.main {
  flex: 1;
  min-width: 0;
}

@media (max-width: 799px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
